.container {
    box-shadow: 0px 0px 10px 0.5px #cccccc;
    border-radius: 10px;
    width: 96%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
p{
    padding: 0px 10px 0px 10px;
    text-align: justify;
}
form button,
form input[type=submit],
.container a {
    background-color: transparent;
    border: none;
    color: black;
    text-decoration: none;
    border-radius: 100px;
    font-size: 20px;
    padding: 1px 5px;
}

#up-and-down-vote{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    border: #333 1px solid;
}
form button:hover,
form input[type=submit]:hover,
.container a:hover {
    background-color: aliceblue;
    cursor: pointer;
}

#forum-top {
    display: flex;
}

#forum-bottom {
    display: flex;
    margin-left: 20px;
    gap: 5px;
}

.attachments-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    justify-self: center;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 0px 5px 0.5px #cccccc;

}

.attachments-container .secondary-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

}

.secondary-images .secondary-image {
    width: fit-content;
    border-radius: 20px;
    height: 200px;

}

.attachments-container .main-image {
    width: 100%;
    border-radius: 20px;
}


.comment-form {
    width: 90%;
    margin: 20px 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    justify-self: center;
}

.comment-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* Ensures padding doesn't add to the width */
}

.comment-form input[type="submit"] {
    background-color: #ffffff;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.comment-form input[type="submit"]:hover {
    background-color: #d4d4d4;
}
#comments{
    border-radius: 10px;
    border: 1px solid #cccccc;
    padding: 20px;
    margin: 20px;
    width: 90%;
    justify-self: center;
}
hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#cccccc;
  height: 1px;
}
.comment{
    display: flex;
    align-items: start;
    flex-direction: column;
}
.comment p{
    margin: 0;
}
.user-link{
    display: flex;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
}