body{
    font-family: Roboto;
    margin: 0; 
    padding: 0;
    text-align: center;
}

ol{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    border: 2px white solid;
}
li{
    width: 100px;

}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.content-holder{
 display: flex;
 width: 100%;
 /* justify-content: space-between; */
}

.content{
    justify-content: center;
    /* position: relative;
    z-index: -1;
    left: 280px;
    top: 120px; */
    width: 500px;
}

a{
    /* filter: grayscale(100%) contrast(150%); */

}
.container{
    margin-top: 20px;
}
.icon{
    width: 45px;
    height: 45px;
    border-radius: 100%;
}
    .user-profile{
        display: flex;
        align-items: center;
    }
    .user-profile img{
        width: 100px; 
        height:100px; 
        border-radius:100%;
    }