body{
    font-family: Roboto;
    margin: 0; 
    padding: 0;
    text-align: center;
}

ol{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    border: 2px white solid;
}
li{
    width: 100px;

}

form button, form input[type=submit]{
    font-size: large;
    color: rgb(0, 0, 0);
    border: 2px rgb(0, 0, 0) solid;
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: transparent;    
}


img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.logotext{
    height: 50px;
    justify-self: flex-end;
    float: left;
}