nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #cccccc;
    /* position: fixed; */
}

nav a {
    display: flex;
    font-size: large;
    color: #000;
    height: 50px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 10px;
    border-radius: 100px;
    transition: ease-in-out 0.2s;

}

nav form button,
nav form input[type=submit] {
    font-size: large;
    color: #000;
    border: none;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 100px;
    transition: ease-in-out 0.2s;
    width: fit-content;


}

nav form button:hover,
nav form input[type=submit]:hover,
nav a:hover {
    background-color: #dbe4e9;
}

.logotext {
    height: 50px;
}

.navleft,
.navmid,
.navright {
    display: flex;
    align-items: center;
    gap: 2px;
}

.navmid {
    flex: 1;
    justify-content: center;
}

.navmid input[type="text"] {
    width: 60%;
    max-width: 400px;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 100px;
    border: 0.1px solid #cccccc;
    background-color: #dbe4e9;
}
.navmid input[type="text"]:focus{
    outline: none;
    border: 0.2px solid #009dff;
    background-color: white;
}