{% extends "base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'forum-list.css'%}" />
{% endblock head %} {% block content %}
<div class="user-profile" style="margin-bottom: 15px">
    <img src="{{viewed_user.icon.url}}" alt="profile picture">
    <h2>{{viewed_user.username}}</h2>
    <h4>{{viewed_user.followed.all|length}} followers</h4>
    {% if user != viewed_user %}
      <form action="{% url 'user-follow' viewed_user.id%}" method="post" class="follow-form">
        {% csrf_token %}
        {{viewed_user.followed.all.0.username}}
        {% if user in viewed_user.followed.all %}
          <input type="submit" value="Unfollow" style="background-color=#cccccc;"/>
        {% else %}
          <input type="submit" value="Follow" />
        {% endif %}
      </form>

      {% endif %}
      <h4>role: {{viewed_user.role}}</h4>
</div>
{% for forum in forums reversed  %}
<div class="forum-preview">
  <a href="{% url 'forum-details' forum.id%}">
    <div class="forum-top">
      <h4>{{forum.creator.username}}</h4>
      <h4>{{forum.created.date}}</h4>
      <h3>{{forum.title}}</h3>
    </div>
    <p>{{forum.content}}</p>
    <img src="{{forum.attachments.all.0.file.url}}" alt="" />

    <div id="forum-bottom">
      <a href="{% url 'forum-details' forum.id%}">
        ⬆️{{forum.upvotes.all|length}}
      </a>
      <a href="{% url 'forum-details' forum.id%}">
        ⬇️{{forum.downvotes.all|length}}
      </a>
      <a href="{% url 'forum-details' forum.id%}">💬 {{forum.comments.all|length}}
      </a>
    </div>
  </a>
</div>
<style>
  .user-profile{
    margin-top:10px;

  }
</style>
{% endfor %} {% endblock content %}
