{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forums For All</title>
    <link rel="stylesheet" href="{% static 'main.css'%}" />
    {% block head %} {% endblock head %}
  </head>
  <nav>
    <a href="{% url 'homepage' %}">home</a>
    <a href="{% url 'forums-list' %}">All Forums</a>
    {% if user.is_authenticated %}
    <form action="/auth/logout/" method="post">
      {% csrf_token %}
      <button>Logout</button>
    </form>
    {% else %}
    <a href="{% url 'login' %}">Login</a>|
    <a href="{% url 'signup' %}">Sign up</a>
    {% endif %}
  </nav>
  <body>
    {% block content %} {% endblock content %}
  </body>
</html>
