{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forums For All</title>
    <link rel="stylesheet" href="{% static 'main.css'%}" />
    <link rel="stylesheet" href="{% static 'navbar.css'%}" />

    <link rel="shortcut icon" href="{% static 'logozoom transparent light.png' %}" type="image/x-icon">
    {% block head %} {% endblock head %}
  </head>
  
  <body>
    <nav>
      <a href="{% url 'forums-list' %}">
              <img src="{% static 'logotext transparent light.png' %}" class='logotext'>
      </a>
    <a href="{% url 'homepage' %}">home</a>
    <a href="{% url 'forums-list' %}">All Forums</a>
    {% if user.is_authenticated %}
    <a href="{% url 'forum-create'%}">Create Forum</a>
    <form action="/auth/logout/" method="post">
      {% csrf_token %}
      <button>Logout</button>
    </form>
    {% else %}
    <a href="{% url 'login' %}">Login</a>|
    <a href="{% url 'signup' %}">Sign up</a>
    {% endif %}
  </nav>
    {% block content %} {% endblock content %}
  </body>
</html>
