{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'forum-list.css'%}" />
{% endblock head %}
{% block content %}
<h1>Forums!</h1>
{% for forum in forums %}
    <a href="{% url 'forum-details' forum.id%}" class="forum-preview">
        <div class="forum-top">
            <h4>{{forum.created.date}}</h4>
            <h3>{{forum.title}}</h3>
        </div>
        <p>{{forum.content}}</p>
        <img src="{{forum.attachments.all.0.file.url}}" alt="">
    </a>
{% endfor %}
{% endblock content %}